{% extends 'base.html.twig' %}

{% block title %}Profile Page
{% endblock %}

{% block body %}
    <div class = "d-flex justify-content-center align-items-center " style="height: 75vh">
        <div class = "alert alert-secondary p-5 rounded border border-dark border-3" > 
            <ul class="">
                <li>Lastname : {{ app.user.lastname }}</li>
                <li>Firstname : {{ app.user.firstname }}</li>
                <li>Email : {{ app.user.userIdentifier}}</li>
                <li>You are logged in as{{ app.user.userIdentifier }},
                <a href="{{ path('app_logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    
 


    
{% endblock %}
