{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Lines</h1>

		<table class = "table table-secondary table-striped">
			<tr>
				<th>Train</th>
				<th>Departure</th>
				<th>Departure time</th>
				<th>Arrival</th>
				<th>Arrival time</th>
				<th>Delay</th>
			</tr>
			{% for line in lines %}
				<tr>
					<td>{{ line.train.type }}</td>
					{% set missing = true %}
					{% for stop in line.getStops() %}

						{% if stop.dateTimeArrival is null %}
							<td>{{ stop.station.name }}</td>
							<td>{{ stop.dateTimeDeparture|date('H:i')}}</td>
							{% set missing = false %}
						{% endif %}
					{% endfor %}
					{% if missing %}
						<td></td>
						<td></td>
					{% endif %}
					{% set missing = true %}
					{% for stop in line.getStops() %}
						{% if stop.dateTimeDeparture is null %}
							<td>{{ stop.station.name }}</td>
							<td>{{ stop.dateTimeArrival|date('H:i')}}</td>
							{% set missing = false %}
						{% endif %}
					{% endfor %}
					{% if missing %}
						<td></td>
						<td></td>
					{% endif %}
					<td>{{ line.delay }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
