{% extends 'base.html.twig' %}

{% block title %} Train Connect
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Lines</h1>

		<table class = "table table-secondary table-striped table-hover">
			<tr>
				<th>Train</th>
				<th>Departure</th>
				<th>Departure time</th>
				<th>Arrival</th>
				<th>Arrival time</th>
				<th>Delay</th>
			</tr>
			{% for line in lines %}
				<tr data-bs-toggle="collapse" data-bs-target="{{ '#accordion' ~ line.id }}" class="clickable">
					<td>{{ line.train.type }}</td>
					{% set missing = true %}
					{% for stop in line.getStops() %}
						{% if stop.dateTimeArrival is null %}
							<td>{{ stop.station.name }}</td>
							<td>{{ stop.dateTimeDeparture|date('H:i') }}</td>
							{% set missing = false %}
						{% endif %}
					{% endfor %}
					{% if missing %}
						<td></td>
						<td></td>
					{% endif %}
					{% set missing = true %}
					{% for stop in line.getStops() %}
						{% if stop.dateTimeDeparture is null %}
							<td>{{ stop.station.name }}</td>
							<td>{{ stop.dateTimeArrival|date('H:i') }}</td>
							{% set missing = false %}
						{% endif %}
					{% endfor %}
					{% if missing %}
						<td></td>
						<td></td>
					{% endif %}
					<td>{{ line.delay }}</td>
				</tr>
				{% for stop in line.getStops() %}
					<tr id="{{ 'accordion' ~ line.id }}" class="collapse table-danger">
						<td>{{ stop.station.name }}</td>
						<td>{{ stop.dateTimeDeparture|date('H:i') }}</td>
						<td>{{ stop.dateTimeArrival|date('H:i') }}</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					{% endfor %}
			{% endfor %}
		</table>
	</div>
{% endblock %}
