<div {{ attributes }}>
    <strong>{{ this.getLines() }}</strong>
    
    

    <button
        data-action="live#$render"
    >Generate a new number!</button>
</div>



{% for line in this.lines %}
		<tr>

			<td>{{ line.train.type }}</td>
			{% set missing = true %}
			{% for stop in line.getStops() %}
			{% if
			stop.dateTimeArrival is null %}
			<td>{{ stop.station.name }}</td>
			<td>{{ stop.dateTimeDeparture|date('H:i') }}</td>
			{% set missing = false %}
			{% endif %}
			{% endfor %}
			{% if missing %}
			<td></td>
			<td></td>
			{% endif %}
			{% set missing = true %}
			{% for stop in line.getStops() %}
			{%
			if stop.dateTimeDeparture is null %}
			<td>{{ stop.dateTimeArrival|date('H:i') }}</td>
			<td>{{ stop.station.name }}</td>
			{% set missing = false %}
			{% endif %}
			{% endfor %}
			{% if missing %}
			<td></td>
			<td></td>
			{% endif %}
			<td>{{ line.delay }}</td>
			<td>
				{% if app.user %}
				<a href="{{ path('app_add_to_favorites', { id: line.id }) }}" class="btn btn-warning add-to-fav">Add to
					fav</a>
				{% endif %}
			</td>
			<td data-bs-toggle="collapse" data-bs-target="{{ '#accordion' ~ line.id }}" class="clickable">
				<input type="image" src={{asset("img/details.png")}} width="30" height="30" class="">
			</td>
		</tr>
		</input>
		</td>

		{# public\img\png-transparent-arrow-computer-icons-down-arrow-angle-hand-logo-thumbnail.png #}
		</tr>


		{% for stop in line.getStopsInOrder() %}
		<tr id="{{ 'accordion' ~ line.id }}" class="collapse table-danger">
			<td></td>
			<td>{{ stop.station.name }}</td>
			<td>
				{{ stop.dateTimeDeparture is null ? ' ' :stop.dateTimeDeparture|date('H:i') }}
			</td>
			<td>
				{{ stop.dateTimeArrival is null ? ' ' :stop.dateTimeArrival|date('H:i') }}
			</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>


		</tr>
		{% endfor %}{% endfor %}
